body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/* Container */
.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

/* Header */
.header {
    background-color: #252525;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0px 5px 5px #151515;
}
.header2 {
    background-color: #252525;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0px 10px 10px black;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__start {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    font-size: 24px;
    font-weight: 700;
    color: aqua;
}
.header__logo__mobile {
    display: none;
}

/* Search-box */
.search-box {
    position: relative;
    width: 60px;
    height: 40px;
    margin-left: 10px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box.active {
    width: 200px;
}
.search-box input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: #303030;
    color: white;
    font-size: 16px;
    border-radius: 50px;
    padding: 0 60px 0 20px;
    outline: none;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box input.active {
    opacity: 1;
}
.search-box .search-btn {
    position: absolute;
    top: 50%;
    right: 5px;
    z-index: 1;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    color: aqua;
    font-size: 16px;
    background-color: #252525;
    text-align: center;
    line-height: 30px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box .search-btn.active {
    position: absolute;
    top: 50%;
    right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    color: white;
    background-color: #303030;
    transform: translateY(-50%) rotate(360deg);
}
.search-box .cancel-btn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box .cancel-btn.active {
    right: -25px;
    transform: translateY(-50%) rotate(360deg);
}

/* Nav */
.nav {
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    color: aqua;
    text-decoration: none;
    padding: 20px;
    background-color: #252525;
    transition: 0.5s all;
}
.btn:hover {
    background-color: #303030;
    color: white;
}
.btn2 {
    display: inline-block;
    vertical-align: top;
    color: aqua;
    font-size: 20px;
    text-decoration: none;
    padding: 15.5px;
    background-color: #252525;
    transition: 0.5s all;
}
.btn2:hover {
    background-color: #303030;
    color: white;
}
.btn3 {
    display: block;
    color: aqua;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    background-color: #252525;
    transition: 0.5s all;
}
.btn3:hover {
    background-color: #303030;
    color: white;
}

/* Menu */
.menu__mobile {
    display: none;
}

/* Intro */
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url("https://lifeo.ru/wp-content/uploads/gifka-more-44.gif") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    border-bottom: 1px solid aqua;
}
.introblack {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #252525;
    opacity: 0.5;
}
.intro__inner {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid aqua;
    background-color: #2a50ff;
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
}
.intro__inner span {
    display: block;
}
.intro__inner2 {
    display: none;
}

/* Text */
.text1 {
    width: 100%;
    position: relative;
    color: white;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 30px;
    background-color: #2a50ff;
    animation: 1.5s text 1;
}
.text2 {
    text-transform: uppercase;
    color: white;
    font-size: 24px;
    font-weight: 700;
}

@keyframes text {
    0% {
        color: #2a50ff;
        margin-bottom: -30px;
    }
    30% {
        letter-spacing: 25px;
        margin-bottom: -30px;
    }
    85% {
        letter-spacing: 8px;
        margin-bottom: 40px;
    }
}

/* Content */
.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-family: Arial;
}
.content__nav {
    background-color: #252525;
    color: white;
    text-align: left;
    width: 30%;
    box-shadow: 5px 10px 10px black;
    position: sticky;
    top: 0;
}
.content__full {
    background-color: #252525;
    color: white;
    font-size: 16px;
    text-align: left;
    width: 70%;
    margin-left: 18px;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 1.5;
    box-shadow: 5px 10px 10px black;
}
.content__link {
    color: white;
    font-size: 16px;
    text-decoration: none;
    opacity: 0.5;
    transition: 0.5s all;
}
.content__link:hover {
    margin-left: 10px;
    opacity: 1;
}
.content__HD {
    background-color: #252525;
    color: white;
    width: 100%;
    margin-top: 18px;
    padding-top: 2px;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 1.5;
    box-shadow: 5px 10px 10px black;
    font-family: Arial;
}
#content__films {
    margin-top: 0;
    padding: 24px;
}

/* Mobile */
.mobile-text {
    display: none;
}
.br-mobile {
    display: none;
}

/* Creator */
.creator {
    margin: 30px auto;
}
.creator__inner {
    display: block;
    text-align: center;
}
.creator__photo {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border: 1px solid aqua;
    border-radius: 50%;
    box-shadow: 5px 10px 10px black;
}
.creator__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}
.creator__text {
    font-size: 16px;
    text-align: left;
}

/* End */
.end {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background: url("../images/more.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.endblack {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: #252525;
    -webkit-background-size: cover;
    background-size: cover;
    opacity: 0.5;
}
.end__inner {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 256px;
    font-weight: 700;
    text-align: center;
}

/* Line */
.line {
    width: 100%;
    border-top: 1px solid aqua;
}

/* Table */
table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    box-shadow: 5px 10px 10px black;
}
.table__inner {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: white;
}
.table__inner2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 16px;
    color: white;
}
.table__inner3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    padding: 16px;
}
.table__photo1 {
    background: url("../images/mechanics.jpg");
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: white;
}
.table__photo2 {
    background: url("../images/mkt.jpg");
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: white;
}
.table__photo3 {
    background: url("../images/electricity.jpg") center;
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: white;
}
.table__photo4 {
    background: url("../images/VaW.jpg");
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: white;
}
.table__photo5 {
    background: url("../images/quantum.jpg");
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: white;
}

/* Caption */
caption {
    font-size: 24px;
    color: aqua;
    text-align: center;
}

/* Heading */
.heading {
    margin-bottom: 14px;
}

/* Th */
th {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #151515;
    text-shadow: 0px 5px 5px black;
}

/* Example */
.example {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    padding-top: 10px;
    padding-left: 16px;
}

/* Explanation */
.explanation {
    text-align: left;
}

/* Level */
.level {
    font-size: 16px;
}
.levels {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
    color: white;
}

/* Tasks */
.tasks {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    opacity: 0.75;
    transition: 0.5s all;
}
.tasks:hover {
    opacity: 1;
}

/* Replacement */
.replacement {
    transition: 0.5s all;
}
.replacement:hover {
    background-color: #6b666a;
}
.replacement2 {
    transition: 0.5s all;
}
.replacement2:hover {
    background-color: #2a5a25;
}
.replacement3 {
    transition: 0.5s all;
}
.replacement3:hover {
    background-color: #765673;
}
.replacement4 {
    transition: 0.5s all;
}
.replacement4:hover {
    background-color: #0e325e;
}
.replacement5 {
    transition: 0.5s all;
}
.replacement5:hover {
    background-color: #001545;
}

/* Sections */
.sections {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    opacity: 0.5;
    transition: 0.5s all;
}
.sections:hover {
    opacity: 1;
}

/* Films-Books-Games */
.films-books-games {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

/* Block */
.block__films {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 415px;
    overflow: hidden;
    box-shadow: 5px 10px 10px black;
    border: 1px solid aqua;
}
.block__text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: calc(100%);
    height: 25%;
    overflow: hidden;
    font-size: 24px;
    color: aqua;
    text-align: center;
    background-color: black;
    box-shadow: 0 0 10px 10px black;
    opacity: 0;
    transform: translate(0px, 100px) rotate(0deg);
    transition: all 0.25s ease-in-out;
}
.block__films:hover .block__text {
    opacity: 0.75;
    transform: translate(0px, 0px) rotate(0deg);
}

/* F */
#f-1 {
    background: url("https://avatars.mds.yandex.net/get-kinopoisk-image/1704946/e9008e2f-433f-43b0-b9b8-2ea8e3fb6c9b/300x450");
}
#f-2 {
    background: url("https://avatars.mds.yandex.net/get-kinopoisk-image/1704946/80eab631-346c-4c29-b14d-1fa1438158f9/300x450");
}
#f-3 {
    background: url("https://avatars.mds.yandex.net/get-kinopoisk-image/1600647/b5e622a2-f19a-458c-8e74-f905a913e0ad/300x450");
}
#f-4 {
    background: url("https://avatars.mds.yandex.net/get-kinopoisk-image/1898899/26cf055e-88de-45bc-bd2d-959ba0197707/300x450");
}
#f-5 {
    background: url("https://avatars.mds.yandex.net/get-kinopoisk-image/1629390/c6a177d6-bb8a-4a8e-b156-03a841948b4f/300x450");
}
#f-6 {
    background: url("https://avatars.mds.yandex.net/get-kinopoisk-image/1773646/7f595a01-93f3-45b1-8669-6a52aef6d3a1/300x450");
}
#f-7 {
    background: url("https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/8277905e-aa09-465d-b0de-7c389a42f215/300x450");
}
#f-8 {
    background: url("https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/a7de8b77-34a0-4b22-9574-acec6c689958/300x450");
}
#f-9 {
    background: url("https://avatars.mds.yandex.net/get-kinopoisk-image/4774061/93898f89-91a1-4084-a2c7-5e5deac4933a/300x450");
}
#f-10 {
    background: url("https://avatars.mds.yandex.net/get-kinopoisk-image/4774061/a65f24e3-10db-4325-87b6-49037781ada0/300x450");
}
#f-11 {
    background: url("https://avatars.mds.yandex.net/get-kinopoisk-image/1599028/90ecc695-b927-45b4-a012-d9da7e674f52/300x450");
}
#f-12 {
    background: url("https://avatars.mds.yandex.net/get-kinopoisk-image/1946459/1441cd7d-a538-4724-b7f0-e131b2fdab21/300x450");
}
#f-13 {
    background: url("https://avatars.mds.yandex.net/get-kinopoisk-image/1777765/a594e007-e67b-4eab-ae03-b86192804531/300x450");
}
#f-14 {
    background: url("https://avatars.mds.yandex.net/get-kinopoisk-image/6201401/8dd570e1-eaac-4c2b-945d-1209bc64a187/300x450");
}
#f-15 {
    background: url("https://avatars.mds.yandex.net/get-kinopoisk-image/4303601/8adda490-54b6-4780-86ad-d42f0aa020da/300x450");
}
#f-16 {
    background: url("https://avatars.mds.yandex.net/get-kinopoisk-image/1704946/1d8dcbf7-9dff-4787-bdaa-9afad82bdde2/300x450");
}
#f-17 {
    background: url("https://avatars.mds.yandex.net/get-kinopoisk-image/1600647/f78a6855-c273-4fa3-a2a8-df122d1cf7be/300x450");
}
#f-18 {
    background: url("https://avatars.mds.yandex.net/get-kinopoisk-image/1777765/b4ad6578-cc40-4547-aaf0-c85cfa752b99/300x450");
}
#f-19 {
    background: url("https://avatars.mds.yandex.net/get-kinopoisk-image/1946459/ccfb6c21-7e92-4e2d-86fb-002256709869/300x450");
}
#f-20 {
    background: url("https://avatars.mds.yandex.net/get-kinopoisk-image/1946459/d8cdc133-694f-46e2-a93e-87d620e90a29/300x450");
}
#f-21 {
    background: url("https://avatars.mds.yandex.net/get-kinopoisk-image/1599028/e4a4a17c-0d1b-4b25-834f-9c760150e33a/300x450");
}
#f-22 {
    background: url("https://avatars.mds.yandex.net/get-kinopoisk-image/1946459/b691e63c-58fd-4988-9568-e2f3f815694b/300x450");
}
#f-23 {
    background: url("https://avatars.mds.yandex.net/get-kinopoisk-image/1600647/e56fd0c1-5840-43e0-aef9-3f21dc99fa0d/300x450");
}
#f-24 {
    background: url("https://avatars.mds.yandex.net/get-kinopoisk-image/1946459/193e3812-6644-42df-a29e-2beb90e20239/300x450");
}
